<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Hello world on Facebook">


    <parameter name="browser" value="Chrome"/>
    <!--browser: Chrome, Firefox works-->
    <!--browser: Edge in progress-->
    <parameter name="width" value="900"/>
    <parameter name="height" value="700"/>
    <parameter name="url" value="https://www.facebook.com/"/>

    <test name="Hello world FB">
        <parameter name="email" value="XXXXX"/>
        <parameter name="password" value="YYYYY"/>
        <classes>
            <class name="com.pdobrowolski.helloworldfb.AppTest">
                aaaaaa
            </class>
            cccccc
            dddddd
            eeeeee
            ffffff
            testPD2
            testPD2 2


            gggg
        </classes>
    </test>
</suite>
